In [76]:
from decision_tree import dtree
import pandas as pd
from decision_tree import gini
import math
from pprint import pprint

In [77]:
df = pd.read_csv('balanced_credit.csv')

In [78]:
def round_sigfigs(num, sig_figs):
    if num == 0:
        return 0
    else:
        return round(num, sig_figs - int(math.floor(math.log10(abs(num)))) - 1)

In [79]:
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,380000,2,3,2,31,-1,-1,-1,-1,-1,...,11147,12483,13680,9240,15233,11202,12493,13748,18061,0
1,240000,2,2,1,35,-2,-2,-2,-2,-2,...,5638,2582,4127,7375,4908,5638,2587,4127,4942,0
2,50000,2,1,2,23,-1,-1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
3,330000,1,1,2,32,0,0,0,0,0,...,141453,112633,121242,5500,4723,5500,4000,10700,4500,0
4,80000,2,2,1,35,-1,-1,-1,-1,-1,...,396,396,396,9796,13443,396,396,0,396,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13267,210000,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
13268,80000,1,2,2,34,2,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
13269,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
13270,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
13271,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [80]:
df.loc[:, 'BILL_AMT1': 'PAY_AMT6'] = df.loc[:, 'BILL_AMT1':'PAY_AMT6'].applymap(lambda x: round_sigfigs(x, 2))

In [81]:
df.nunique()

LIMIT_BAL     75
SEX            2
EDUCATION      7
MARRIAGE       4
AGE           55
PAY_0         11
PAY_2         10
PAY_3         11
PAY_4         11
PAY_5         10
PAY_6         10
BILL_AMT1    471
BILL_AMT2    483
BILL_AMT3    477
BILL_AMT4    484
BILL_AMT5    487
BILL_AMT6    477
PAY_AMT1     329
PAY_AMT2     338
PAY_AMT3     341
PAY_AMT4     347
PAY_AMT5     338
PAY_AMT6     345
default        2
dtype: int64

In [82]:
tree = dtree(df, gini, max_depth=2)

100%|██████████| 24/24 [00:17<00:00,  1.36it/s]
100%|██████████| 24/24 [00:11<00:00,  2.04it/s]
100%|██████████| 24/24 [00:06<00:00,  3.71it/s]

In [83]:
pprint(tree, indent=2)

( 'PAY_0',
  1,
  13272,
  0,
  0.5,
  0,
  ( 'PAY_AMT2',
    1700,
    8848,
    0,
    0.46216263153635107,
    1,
    (None, None, 3533, 0, 0.4966078995270744, 2, None, None),
    (None, None, 5315, 0, 0.41871548688503846, 2, None, None)),
  ( 'PAY_0',
    2,
    4424,
    1,
    0.3486505261454045,
    1,
    (None, None, 1985, 1, 0.46581908393556204, 2, None, None),
    (None, None, 2439, 1, 0.1917635740523047, 2, None, None)))